{% extends "base.html" %}

{% block content  %}
    <div class="section">
        <div class="container">
            <div class="column is-centered">
                <div class= "column is-one-third">
                    <form action="" method="post" class="box">
                        <h1 class="title">Accedi</h1>
                        {{ form.hidden_tag() }}
                        <div class="field is-warning">
                            {{ form.username.label(class="label") }}
                            {{ form.username(class="input is-warning") }}
                            {% for error in form.username.errors %}
                                <p class="help is-danger">[{{ error }}]</p>
                            {% endfor %}
                        </div>
                        <div class="field is-warning">
                            {{ form.password.label(class="label") }}
                            {{ form.password(class="input is-warning") }}
                            {% for error in form.password.errors %}
                                <p class="help is-danger">[{{ error }}]</p>
                            {% endfor %}
                        </div>
                        <p>{{ form.remember_me }} {{ form.remember_me.label(class="checkbox") }}</p>
                        <br>
                        <p>{{ form.submit(class="button is-warning")}}</p>
                    </form>
                    <p>Clicca <a href="{{ url_for('register') }}">qui</a> per registrarti</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
