{% extends "base.html" %}

{% block content %}
    <div class="section">
        <h1 class="title">Grimorio di {{ character.name }}</h1>
    </div>
    <br>
    <br>
    <div class="columns is-multiline is-desktop is-centered">
    {% for i in range(1, 10) %}
        {% set ns = namespace(first_time=true) %}
        <div class="column is-one-third">
            <table class="table is-fullwidth is-striped is-bordered">
                {% for spell in spells %}
                    {% if spell.level == i %}
                        {% if ns.first_time == true %}
                            <tr class="has-background-warning">
                                <th style="width:40px;" class="has-text-grey-dark">--</th>
                                <th class="has-text-centered has-text-grey-dark">Livello {{ i }}</th>
                                <th style="width:40px;" class="has-text-grey-dark">n.</th>
                            </tr>
                            {% set ns.first_time = false %}
                        {% endif %}
                        <tr {% if spell.prepared == 0 %}style="color: Grey; background-color:LightGrey"{% endif %}>
                            <td>--</td>
                            <td>{{ spell.name }}</td>
                            <td>{{ spell.prepared }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
        <br>
    {% endfor %}
    </div>

    {% endblock %}
